.basket
{
    width:100%;
    margin: auto;
    min-height: 450px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:start;
}
.shop{
    color:white;
    background-color:royalblue;
    padding:6px 20px;
    text-transform:uppercase;
}
.flex{
    margin:auto;
    display:flex;
    justify-content:center;
    align-items:center;
    width:80%;
}
.flex h3{
    font-size:20px;
    font-weight:900;
}
.fa{
    font-weight:600;
    font-size:30px;
}
.del{
    color:red;
}