/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [UID]
      ,[FullName]
      ,[PhoneNumber]
      ,[Mail_ID]
      ,[DateOfBirth]
      ,[FullAddress]
      ,[UserID]
      ,[Password]
  FROM [ECommerceDataBase].[dbo].[ECommerceUser]